dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  padding: 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.submitbtn {
  grid-column: 1 / 3;
}
