dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #435334;
  border-radius: 15px;
}

form {
  padding: 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  color: #435334;
  background-color: #CEDEBD;
  font-weight: 700;
}

.submitbtn,
.saveChangesBtn{
  grid-column: 1 / 3;
  color: #CEDEBD;
  background-color: #435334;
  border: none;
  height: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 700;
}

.submitbtn:hover {
  font-size: 1.1rem;
}

.descriptionDialogContainer {
  min-width: 200px;
  max-width: 40ch;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
}

.descriptionBody {
  padding: 10px;
}

.closeDescription {
  width: 50%;
  color: #CEDEBD;
  background-color: #435334;
  border: none;
  height: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 700;
}
